# IBM Data Science Course Capstone Project

In [136]:
import pandas as pd
import numpy as np

In [137]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

## Frist Task: Creating Pandas DataFrame

### 1. Read Input Data

In [138]:
# read text file
df = pd.read_csv('canada.txt')

#rename columns
df.columns = ['PostalCode', 'Borough', 'Neighborhood']

df.head()

  PostalCode           Borough      Neighborhood
0        M2A      Not assigned      Not assigned
1        M3A        North York         Parkwoods
2        M4A        North York  Victoria Village
3        M5A  Downtown Toronto      Harbourfront
4        M5A  Downtown Toronto       Regent Park

### 2. Delete Rows Where Borough is 'Not assigned'

In [140]:
# delete rows where 'Borough' is 'Not assigned'
df = df[df['Borough'] != 'Not assigned']

df.head(7)

  PostalCode           Borough      Neighborhood
1        M3A        North York         Parkwoods
2        M4A        North York  Victoria Village
3        M5A  Downtown Toronto      Harbourfront
4        M5A  Downtown Toronto       Regent Park
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor
7        M7A      Queen's Park      Not assigned

### 3. Assign Borough to Neighborhood where Neighborhood is 'Not assigned'

In [130]:
# assign Borough to Neighborhood where Neighborhood is 'Not assigned'

# create numpy arra of Borough and Neighborhood values
df_numpy_array = df[['PostalCode','Borough','Neighborhood']].values

# iterate through all values and replace 'Not assigned' Neighborhood with Borough
for row in df_numpy_array:
    if row[2] == 'Not assigned':
        row[2] = row[1]

# create dataframe from corrected numpy array
df = pd.DataFrame(df_numpy_array)

# fix column names
df.columns = ['PostalCode', 'Borough', 'Neighborhood']

df.head(7)

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor
6        M7A      Queen's Park      Queen's Park

### 4. Group Data by Postal Code

In [143]:
# add comma and space after each Negihborhood name to help with grouping later on
df[['Neighborhood']] = df[['Neighborhood']] + ', '

# group by rows by postal code, adding all neighborhoods into the Neighborhood column
df = df[['PostalCode', 'Borough', 'Neighborhood']].groupby(['PostalCode', 'Borough']).sum()

# remove trailing comma and space from Negihborhood column
df['Neighborhood'] = df['Neighborhood'].apply(lambda x: x.rstrip(', '))

df.head()

                                                      Neighborhood
PostalCode Borough
M1B        Scarborough                            Rouge, , Malvern
M1C        Scarborough  Highland Creek, , Rouge Hill, , Port Union
M1E        Scarborough       Guildwood, , Morningside, , West Hill
M1G        Scarborough                                      Woburn
M1H        Scarborough                                   Cedarbrae

### 5. Shape of Cleaned DataFrame

In [144]:
df.shape

(103, 1)

## Second Task: Get Latitude and Longitude Coordinates

In [ ]:
!conda install -c conda-forge geopy --yes